<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Add_course</servlet-name>
        <servlet-class>courses_servlets.Add_course</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display_courses</servlet-name>
        <servlet-class>courses_servlets.Display_courses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Timetable</servlet-name>
        <servlet-class>Timetable.Timetable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>courses_servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attendanceServlet</servlet-name>
        <servlet-class>Attendance.attendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Complaint_add</servlet-name>
        <servlet-class>Complaints.Complaint_add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>complaintview</servlet-name>
        <servlet-class>Complaints.complaintview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view</servlet-name>
        <servlet-class>Placements.view</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Placement_add</servlet-name>
        <servlet-class>Placements.Placement_add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminstudentview</servlet-name>
        <servlet-class>Placements.adminstudentview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add_course</servlet-name>
        <url-pattern>/Add_course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display_courses</servlet-name>
        <url-pattern>/Display_courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Timetable</servlet-name>
        <url-pattern>/Timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attendanceServlet</servlet-name>
        <url-pattern>/attendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Complaint_add</servlet-name>
        <url-pattern>/Complaint_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>complaintview</servlet-name>
        <url-pattern>/complaintview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Placement_add</servlet-name>
        <url-pattern>/Placement_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminstudentview</servlet-name>
        <url-pattern>/adminstudentview</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>dashboard.html</welcome-file>
    </welcome-file-list>
</web-app>
